<div *ngIf="square.type !=='property'
        && square.type !== 'jail'
        && square.type !== 'go'
        && square.type !== 'free_parking'
        && square.type !== 'go_to_jail'"
  class="model" [ngClass]="[square.type, direction]">
    <h2>{{ square.name }}</h2>
    <img [src]="getImgSrc(square)" />
</div>

<div *ngIf="square.type === 'property'" class="model" [ngClass]="[direction]">
  <div class="property-bar" [ngStyle]="{ 'background-color': square.color }"></div>
  <h2>{{ square.shortName }}</h2>
</div>

<div *ngIf="square.type === 'go'" class="model go">
  <img src="assets/go.png" />
</div>

<div *ngIf="square.type === 'jail'" class="model jail">
  <div class="jail-top">
    <div class="jail-col">
      <p>Just</p>
    </div>
    <div class="jail-container">
      <img src="assets/jail.png">
    </div>
  </div>
  <div class="jail-row">
    <p>Visiting</p>
  </div>
</div>

<div *ngIf="square.type === 'free_parking'" class="model">
  <div class="parking">
    <p>Free</p>
    <p>Parking</p>
    <img [src]="getImgSrc(square)" />
    <div *ngIf="square.money && square.money > 0" class="money">
      <p>{{ square.money }}</p>
    </div>
  </div>
</div>

<div *ngIf="square.type === 'go_to_jail'" class="model">
  <div class="go_to_jail">
    <p>Go to</p>
    <p>JAIL</p>
    <img [src]="getImgSrc(square)" />
  </div>
</div>



