<div class="table">
  <div class="players">
    <div class="player player1">
      <div class="header">
          {{ 'PLAYER 1' }}
      </div>
      <div class="squares">
        <div *ngFor="let property of game.players[0].properties" class="property">
          <div *ngIf="property.type === 'property'" class="bar" [ngStyle]="{ 'background-color': property.color }"></div>
          <div *ngIf="property.type === 'station'" class="bar" [ngStyle]="{ 'background-color': 'black' }"></div>
          <div *ngIf="property.type === 'supply'" class="bar" [ngStyle]="{ 'background-color': 'gray' }"></div>
          <div class="body">
            <div [ngStyle]="{'color': property.upgrades > -1 ? 'black' : 'red'}">{{ property.shortName }}</div>
            <div *ngIf="property.upgrades < 0 && property.type === 'property'">
              <i class="bi bi-house-slash-fill" style="color:red"></i>
            </div>
            <div *ngIf="property.type !== 'property' && property.upgrades < 0">
              <i class="bi bi-gear-fill" style="color:red"></i>
            </div>
            <div *ngIf="property.type !== 'property' && property.upgrades > -1">
              {{ property.upgrades }}
              <i class="bi bi-gear-fill" style="color:green"></i>
            </div>
            <div *ngIf="property.upgrades > -1 && property.upgrades < 5 && property.type === 'property'">
              {{ property.upgrades }}
              <i class="bi bi-house-fill" style="color:green"></i>
            </div>
            <div *ngIf="property.upgrades == 5">
              1
              <i class="bi bi-building-fill" style="color:red"></i>
            </div>
          </div>
        </div>
        <div *ngFor="let card of game.players[0].cards" class="jail_card"
          [ngStyle]="{ 'background-image' : 'assets/jail.png' }">
          <i class="bi bi-x-circle"></i>
        </div>
      </div>
      <div class="footer">
        {{ game.players[0].money | number }} €
      </div>
    </div>
    <div class="player player3">
      <div class="header">
        {{ 'PLAYER 3' }}
      </div>
      <div class="squares">
        <div *ngFor="let property of game.players[2].properties" class="property">
          <div *ngIf="property.type === 'property'" class="bar" [ngStyle]="{ 'background-color': property.color }"></div>
          <div *ngIf="property.type === 'station'" class="bar" [ngStyle]="{ 'background-color': 'black' }"></div>
          <div *ngIf="property.type === 'supply'" class="bar" [ngStyle]="{ 'background-color': 'gray' }"></div>
          <div class="body">
            <div [ngStyle]="{'color': property.upgrades > -1 ? 'black' : 'red'}">{{ property.shortName }}</div>
            <div *ngIf="property.upgrades < 0 && property.type === 'property'">
              <i class="bi bi-house-slash-fill" style="color:red"></i>
            </div>
            <div *ngIf="property.type !== 'property' && property.upgrades < 0">
              <i class="bi bi-gear-fill" style="color:red"></i>
            </div>
            <div *ngIf="property.type !== 'property' && property.upgrades > -1">
              {{ property.upgrades }}
              <i class="bi bi-gear-fill" style="color:green"></i>
            </div>
            <div *ngIf="property.upgrades > -1 && property.upgrades < 5 && property.type === 'property'">
              {{ property.upgrades }}
              <i class="bi bi-house-fill" style="color:green"></i>
            </div>
            <div *ngIf="property.upgrades == 5">
              1
              <i class="bi bi-building-fill" style="color:red"></i>
            </div>
          </div>
        </div>
        <div *ngFor="let card of game.players[2].cards" class="jail_card" [ngStyle]="{ 'background-image' : 'assets/jail.png' }">
          <i class="bi bi-x-circle"></i>
        </div>
      </div>
      <div class="footer">
        {{ game.players[2].money | number }} €
      </div>
    </div>
  </div>
  <div class="board">
    <div class="center">
      <div class="community-deck">
        <h2 class="label">Community Chest</h2>
        <div class="deck">
          <img src="assets/community_chest.png">
        </div>
      </div>
      <h1 class="title">MONOPOLY</h1>
      <div *ngIf="game.actualSquare" class="big-square">
        <app-big-square [square]="game.actualSquare" [card]="game.actualCard"></app-big-square>
      </div>
      <div class="chance-deck">
        <h2 class="label">Chance</h2>
        <div class="deck">
          <img src="assets/chance.png">
        </div>
      </div>
    </div>
    <div class="row row-0">
      <div class="square" *ngFor="let square of rows[0]">
        <app-square [square]="square" [direction]="'bottom'"></app-square>
      </div>
    </div>
    <div class="row row-1">
      <div class="square" *ngFor="let square of rows[1]">
        <app-square [square]="square" [direction]="'left'"></app-square>
      </div>
    </div>
    <div class="row row-2">
      <div class="square" *ngFor="let square of rows[2]">
        <app-square [square]="square" [direction]="'top'"></app-square>
      </div>
    </div>
    <div class="row row-3">
      <div class="square" *ngFor="let square of rows[3]">
        <app-square [square]="square" [direction]="'right'"></app-square>
      </div>
    </div>
    <div class="tokens">
      <div *ngFor="let player of game.players; index as i" [class]="'token player' + (i + 1)"
        [ngStyle]="{'bottom': player.bottom + 'vh', 'right': player.right + 'vh'}">
      </div>
    </div>
  </div>
  <div class="players">
    <div class="player player2">
      <div class="header">
        {{ 'PLAYER 2' }}
      </div>
      <div class="squares">
        <div *ngFor="let property of game.players[1].properties" class="property">
          <div *ngIf="property.type === 'property'" class="bar" [ngStyle]="{ 'background-color': property.color }"></div>
          <div *ngIf="property.type === 'station'" class="bar" [ngStyle]="{ 'background-color': 'black' }"></div>
          <div *ngIf="property.type === 'supply'" class="bar" [ngStyle]="{ 'background-color': 'gray' }"></div>
          <div class="body">
            <div [ngStyle]="{'color': property.upgrades > -1 ? 'black' : 'red'}">{{ property.shortName }}</div>
            <div *ngIf="property.upgrades < 0 && property.type === 'property'">
              <i class="bi bi-house-slash-fill" style="color:red"></i>
            </div>
            <div *ngIf="property.type !== 'property' && property.upgrades < 0">
              <i class="bi bi-gear-fill" style="color:red"></i>
            </div>
            <div *ngIf="property.type !== 'property' && property.upgrades > -1">
              {{ property.upgrades }}
              <i class="bi bi-gear-fill" style="color:green"></i>
            </div>
            <div *ngIf="property.upgrades > -1 && property.upgrades < 5 && property.type === 'property'">
              {{ property.upgrades }}
              <i class="bi bi-house-fill" style="color:green"></i>
            </div>
            <div *ngIf="property.upgrades == 5">
              1
              <i class="bi bi-building-fill" style="color:red"></i>
            </div>
          </div>
        </div>
        <div *ngFor="let card of game.players[1].cards" class="jail_card" [ngStyle]="{ 'background-image' : 'assets/jail.png' }">
          <i class="bi bi-x-circle"></i>
        </div>
      </div>
      <div class="footer">
        {{ game.players[1].money | number }} €
      </div>
    </div>
    <div class="player player4">
      <div class="header">
        {{ 'PLAYER 4' }}
      </div>
      <div class="squares">
        <div *ngFor="let property of game.players[3].properties" class="property">
          <div *ngIf="property.type === 'property'" class="bar" [ngStyle]="{ 'background-color': property.color }"></div>
          <div *ngIf="property.type === 'station'" class="bar" [ngStyle]="{ 'background-color': 'black' }"></div>
          <div *ngIf="property.type === 'supply'" class="bar" [ngStyle]="{ 'background-color': 'gray' }"></div>
          <div class="body">
            <div [ngStyle]="{'color': property.upgrades > -1 ? 'black' : 'red'}">{{ property.shortName }}</div>
            <div *ngIf="property.upgrades < 0 && property.type === 'property'">
              <i class="bi bi-house-slash-fill" style="color:red"></i>
            </div>
            <div *ngIf="property.type !== 'property' && property.upgrades < 0">
              <i class="bi bi-gear-fill" style="color:red"></i>
            </div>
            <div *ngIf="property.type !== 'property' && property.upgrades > -1">
              {{ property.upgrades }}
              <i class="bi bi-gear-fill" style="color:green"></i>
            </div>
            <div *ngIf="property.upgrades > -1 && property.upgrades < 5 && property.type === 'property'">
              {{ property.upgrades }}
              <i class="bi bi-house-fill" style="color:green"></i>
            </div>
            <div *ngIf="property.upgrades == 5">
              1
              <i class="bi bi-building-fill" style="color:red"></i>
            </div>
          </div>
        </div>
        <div *ngFor="let card of game.players[3].cards" class="jail_card" [ngStyle]="{ 'background-image' : 'assets/jail.png' }">
          <i class="bi bi-x-circle"></i>
        </div>
      </div>
      <div class="footer">
        {{ game.players[3].money | number }} €
      </div>
    </div>
  </div>
</div>

<div class="controls">
  <button (click)="nextPlayer()">Next Player</button>
  <button (click)="rollDice()">Roll Dice</button>
  <button (click)="calcPosition(game.players[game.actualPlayer],game.dice)">Advance</button>
  <button (click)="calcPosition(game.players[game.actualPlayer], 1)">Advance 1</button>
  <button (click)="buyProperty(game.players[game.actualPlayer])">Buy</button>
  <button (click)="sendToJail(game.players[game.actualPlayer])">Jail</button>
</div>