@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace&display=swap');

* {
  box-sizing: border-box;
}

.m-table {
  width: 100vw;
  height: 100vh;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: seagreen;
}

.players {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 17vw;
  height: 90vh;
  font-family: 'Bruno Ace', cursive;
  margin: 1vw;
  z-index: 1;

  .player {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    height: 45%;
    border: 2px solid black;
    background-color: white;

    .header {
      display: flex;
      justify-content: space-around;
      align-items: center;
      width: 100%;
      height: 10%;
      border-bottom: 1px solid black;
      border-collapse: collapse;
    }

    .squares {
      display: flex;
      justify-content: space-around;
      align-items: flex-start;
      padding: 4%;
      flex-wrap: wrap;
      gap: 3%;
      width: 100%;
      height: 80%;

      .property {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 22%;
        height: 17%;
        border: 1px solid black;
        font-size: 1.5vh;

        .bar {
          width: 100%;
          height: 20%;
        }

        .body {
          width: 100%;
          height: 80%;
          display: flex;
          flex-direction: column;
          justify-content: space-around;
          align-items: center;
        }
      }

      .jail_card {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 33%;
        height: 15%;
        border: 1px solid black;
        border-radius: 1vh;
        background-image: url(/assets/jail.png);
        background-color: lightsteelblue;
        background-size: auto 80%;
        background-position: center;
        background-repeat: no-repeat;

        i {
          font-size: 3vh;
          color: red;
        }
      }
    }

    .footer {
      display: flex;
      justify-content: space-around;
      align-items: center;
      width: 100%;
      height: 10%;
      border-top: 1px solid black;
    }

    &1 {
      .header {
        background-color: lightblue;
      }

      .footer {
        background-color: lightblue;
      }
    }

    &2 {
      .header {
        background-color: lightgreen;
      }

      .footer {
        background-color: lightgreen;
      }
    }

    &3 {
      .header {
        background-color: tomato;
      }

      .footer {
        background-color: tomato;
      }
    }

    &4 {
      .header {
        background-color: yellow;
      }

      .footer {
        background-color: yellow;
      }
    }

    &.active {
      animation: animate 2s infinite;
      position: relative;
    }

    &.active::before,
    &.active::after {
      content: '';
      position: absolute;
      top: -1vh;
      left: -1vh;
      background: linear-gradient(90deg, white, darkviolet, darkviolet, white);
      background-size: 400%;
      width: calc(100% + 2vh);
      height: calc(100% + 2vh);
      z-index: -1;
      animation: animate 20s linear infinite;
    }

    &.active::after {
      filter: blur(20px);
    }
  }
}

.board {
  position: relative;
  display: grid;
  grid-template-columns: 11.25vh repeat(9, 7.5vh) 11.25vh;
  grid-template-rows: 11.25vh repeat(9, 7.5vh) 11.25vh;
  background-color: white;
  border: 2px solid black;
  grid-template-areas:
    "c c c c c c c c c c d"
    "b o o o o o o o o o d"
    "b o o o o o o o o o d"
    "b o o o o o o o o o d"
    "b o o o o o o o o o d"
    "b o o o o o o o o o d"
    "b o o o o o o o o o d"
    "b o o o o o o o o o d"
    "b o o o o o o o o o d"
    "b o o o o o o o o o d"
    "b a a a a a a a a a a"
}

.center {
  grid-area: o;
  display: grid;
  grid-template-columns: repeat(3, 33%);
  grid-template-rows: repeat(3, 33%);
  justify-content: center;
  align-items: center;
  position: relative;
}

.title {
  grid-area: 2 / 2;
  display: flex;
  justify-content: center;
  font-size: 8vh;
}

.dices {
  grid-area: 2 / 2;
  height: 30vh;
  display: flex;
  justify-content: space-around;
  align-items: center;

  .dice {
    width: 10vh;
    height: 10vh;
    border: 2px solid black;
    border-radius: 1vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5vh;
    font-weight: 500;
    background-color: white;
  }
}

.big-square {
  grid-area: 2 / 2;
  width: 25vh;
  height: 37.5vh;
  border: 2px solid black;
  background: white;
  z-index: 1;
}

.deck {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px dashed black;
  min-width: 15vh;
  min-height: 11.25vh;
  align-self: center;

  img {
    width: 60%;
  }
}

.chance-deck {
  grid-area: 3 / 3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-self: flex-end;
  width: 100%;
  height: 100%;
  transform: translate(-25%, -25%) rotate(315deg);

  .deck {
    background-color: #EF843D;
  }
}

.community-deck {
  grid-area: 1 / 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
  transform: translate(25%, 25%) rotate(135deg);

  .deck {
    background-color: #63A6D7;
  }
}

.label {
  text-align: center;
  font-size: 3vh;
  font-weight: 500;
  letter-spacing: 3px;
}

.m-row {
  display: flex;

  .square:nth-child(1) {
    width: 11.25vh !important;
    height: 11.25vh !important;
  }
}

/*Flex directions are used to give the tiles correct order*/
.row-0 {
  grid-area: a;
  flex-direction: row-reverse;

  .square {
    width: 7.5vh;
    height: 11.25vh;
  }
}

.row-1 {
  grid-area: b;
  flex-direction: column-reverse;
  width: 100%;
  height: 100%;

  .square {
    width: 11.25vh;
    height: 7.5vh;
    position: relative;
  }
}

.row-2 {
  grid-area: c;
  flex-direction: row;

  .square {
    width: 7.5vh;
    height: 11.25vh;
    transform: rotate(180deg);
  }
}

.row-3 {
  grid-area: d;
  flex-direction: column;

  .square {
    width: 11.25vh;
    height: 7.5vh;
  }
}

.tokens {
  position: absolute;
  width: 100%;
  height: 100%;
}

.token {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 2.5vh;
  height: 2.5vh;
  border-radius: 50%;
  border: 1px solid black;
  z-index: 2;

  &.player1 {
    background-color: lightblue;
  }

  &.player2 {
    background-color: lightgreen;
  }

  &.player3 {
    background-color: tomato;
  }

  &.player4 {
    background-color: yellow;
  }
}

@keyframes animate {
  0% {
    background-position: 0 0;
  }

  100% {
    background-position: 400% 0;
  }
}