<div class="m-table">
  <div class="players">
    <div class="player player1" *ngIf="findPlayer(1)">
      <div class="header">
          {{ findPlayer(1).name }}
      </div>
      <div class="squares">
        <div *ngFor="let property of findPlayer(1).properties" class="property">
          <div *ngIf="property.type === 'property'" class="bar" [ngStyle]="{ 'background-color': property.color }"></div>
          <div *ngIf="property.type === 'station'" class="bar" [ngStyle]="{ 'background-color': 'black' }"></div>
          <div *ngIf="property.type === 'supply'" class="bar" [ngStyle]="{ 'background-color': 'gray' }"></div>
          <div class="body">
            <div [ngStyle]="{'color': property.upgrades > -1 ? 'black' : 'red'}">{{ property.shortName }}</div>
            <div *ngIf="property.upgrades < 0 && property.type === 'property'">
              <i class="bi bi-house-slash-fill" style="color:red"></i>
            </div>
            <div *ngIf="property.type !== 'property' && property.upgrades < 0">
              <i class="bi bi-gear-fill" style="color:red"></i>
            </div>
            <div *ngIf="property.type !== 'property' && property.upgrades > -1">
              {{ property.upgrades }}
              <i class="bi bi-gear-fill" style="color:green"></i>
            </div>
            <div *ngIf="property.upgrades > -1 && property.upgrades < 5 && property.type === 'property'">
              {{ property.upgrades ? property.upgrades : 'X' }}
              <i class="bi bi-house-fill" style="color:green"></i>
            </div>
            <div *ngIf="property.upgrades == 5">
              1
              <i class="bi bi-building-fill" style="color:red"></i>
            </div>
          </div>
        </div>
        <div *ngFor="let card of findPlayer(1).cards" class="jail_card"
          [ngStyle]="{ 'background-image' : 'assets/jail.png' }">
          <i class="bi bi-x-circle"></i>
        </div>
      </div>
      <div class="footer">
        {{ findPlayer(1).money | number }} €
      </div>
    </div>
    <div class="player player3" *ngIf="findPlayer(3)">
      <div class="header">
        {{ findPlayer(3).name }}
      </div>
      <div class="squares">
        <div *ngFor="let property of findPlayer(3).properties" class="property">
          <div *ngIf="property.type === 'property'" class="bar" [ngStyle]="{ 'background-color': property.color }"></div>
          <div *ngIf="property.type === 'station'" class="bar" [ngStyle]="{ 'background-color': 'black' }"></div>
          <div *ngIf="property.type === 'supply'" class="bar" [ngStyle]="{ 'background-color': 'gray' }"></div>
          <div class="body">
            <div [ngStyle]="{'color': property.upgrades > -1 ? 'black' : 'red'}">{{ property.shortName }}</div>
            <div *ngIf="property.upgrades < 0 && property.type === 'property'">
              <i class="bi bi-house-slash-fill" style="color:red"></i>
            </div>
            <div *ngIf="property.type !== 'property' && property.upgrades < 0">
              <i class="bi bi-gear-fill" style="color:red"></i>
            </div>
            <div *ngIf="property.type !== 'property' && property.upgrades > -1">
              {{ property.upgrades }}
              <i class="bi bi-gear-fill" style="color:green"></i>
            </div>
            <div *ngIf="property.upgrades > -1 && property.upgrades < 5 && property.type === 'property'">
              {{ property.upgrades }}
              <i class="bi bi-house-fill" style="color:green"></i>
            </div>
            <div *ngIf="property.upgrades == 5">
              1
              <i class="bi bi-building-fill" style="color:red"></i>
            </div>
          </div>
        </div>
        <div *ngFor="let card of findPlayer(3).cards" class="jail_card" [ngStyle]="{ 'background-image' : 'assets/jail.png' }">
          <i class="bi bi-x-circle"></i>
        </div>
      </div>
      <div class="footer">
        {{ findPlayer(3).money | number }} €
      </div>
    </div>
  </div>
  <div class="board">
    <div class="center">
      <div class="community-deck">
        <h2 class="label">Community Chest</h2>
        <div class="deck">
          <img src="assets/community_chest.png">
        </div>
      </div>
      <h1 class="title">MONOPOLY</h1>
      <div *ngIf="displaySquare(game.actualSquare)" class="big-square">
        <app-big-square [square]="game.actualSquare" [card]="game.actualCard"></app-big-square>
      </div>
      <div class="chance-deck">
        <h2 class="label">Chance</h2>
        <div class="deck">
          <img src="assets/chance.png">
        </div>
      </div>
    </div>
    <div class="m-row row-0">
      <div class="square" *ngFor="let square of rows[0]">
        <app-square [square]="square" [direction]="'bottom'"></app-square>
      </div>
    </div>
    <div class="m-row row-1">
      <div class="square" *ngFor="let square of rows[1]">
        <app-square [square]="square" [direction]="'left'"></app-square>
      </div>
    </div>
    <div class="m-row row-2">
      <div class="square" *ngFor="let square of rows[2]">
        <app-square [square]="square" [direction]="'top'"></app-square>
      </div>
    </div>
    <div class="m-row row-3">
      <div class="square" *ngFor="let square of rows[3]">
        <app-square [square]="square" [direction]="'right'"></app-square>
      </div>
    </div>
    <div class="tokens">
      <div *ngFor="let player of game.players; index as i" [class]="'token player' + (i + 1)"
        [ngStyle]="{'bottom': player.bottom + 'vh', 'right': player.right + 'vh'}">
      </div>
    </div>
  </div>
  <div class="players">
    <div class="player player2" *ngIf="findPlayer(2)">
      <div class="header">
        {{ findPlayer(2).name }}
      </div>
      <div class="squares">
        <div *ngFor="let property of findPlayer(2).properties" class="property">
          <div *ngIf="property.type === 'property'" class="bar" [ngStyle]="{ 'background-color': property.color }"></div>
          <div *ngIf="property.type === 'station'" class="bar" [ngStyle]="{ 'background-color': 'black' }"></div>
          <div *ngIf="property.type === 'supply'" class="bar" [ngStyle]="{ 'background-color': 'gray' }"></div>
          <div class="body">
            <div [ngStyle]="{'color': property.upgrades > -1 ? 'black' : 'red'}">{{ property.shortName }}</div>
            <div *ngIf="property.upgrades < 0 && property.type === 'property'">
              <i class="bi bi-house-slash-fill" style="color:red"></i>
            </div>
            <div *ngIf="property.type !== 'property' && property.upgrades < 0">
              <i class="bi bi-gear-fill" style="color:red"></i>
            </div>
            <div *ngIf="property.type !== 'property' && property.upgrades > -1">
              {{ property.upgrades }}
              <i class="bi bi-gear-fill" style="color:green"></i>
            </div>
            <div *ngIf="property.upgrades > -1 && property.upgrades < 5 && property.type === 'property'">
              {{ property.upgrades }}
              <i class="bi bi-house-fill" style="color:green"></i>
            </div>
            <div *ngIf="property.upgrades == 5">
              1
              <i class="bi bi-building-fill" style="color:red"></i>
            </div>
          </div>
        </div>
        <div *ngFor="let card of findPlayer(2).cards" class="jail_card" [ngStyle]="{ 'background-image' : 'assets/jail.png' }">
          <i class="bi bi-x-circle"></i>
        </div>
      </div>
      <div class="footer">
        {{ findPlayer(2).money | number }} €
      </div>
    </div>
    <div class="player player4" *ngIf="findPlayer(4)">
      <div class="header">
        {{ findPlayer(4).name }}
      </div>
      <div class="squares">
        <div *ngFor="let property of findPlayer(4).properties" class="property">
          <div *ngIf="property.type === 'property'" class="bar" [ngStyle]="{ 'background-color': property.color }"></div>
          <div *ngIf="property.type === 'station'" class="bar" [ngStyle]="{ 'background-color': 'black' }"></div>
          <div *ngIf="property.type === 'supply'" class="bar" [ngStyle]="{ 'background-color': 'gray' }"></div>
          <div class="body">
            <div [ngStyle]="{'color': property.upgrades > -1 ? 'black' : 'red'}">{{ property.shortName }}</div>
            <div *ngIf="property.upgrades < 0 && property.type === 'property'">
              <i class="bi bi-house-slash-fill" style="color:red"></i>
            </div>
            <div *ngIf="property.type !== 'property' && property.upgrades < 0">
              <i class="bi bi-gear-fill" style="color:red"></i>
            </div>
            <div *ngIf="property.type !== 'property' && property.upgrades > -1">
              {{ property.upgrades }}
              <i class="bi bi-gear-fill" style="color:green"></i>
            </div>
            <div *ngIf="property.upgrades > -1 && property.upgrades < 5 && property.type === 'property'">
              {{ property.upgrades }}
              <i class="bi bi-house-fill" style="color:green"></i>
            </div>
            <div *ngIf="property.upgrades == 5">
              1
              <i class="bi bi-building-fill" style="color:red"></i>
            </div>
          </div>
        </div>
        <div *ngFor="let card of findPlayer(4).cards" class="jail_card" [ngStyle]="{ 'background-image' : 'assets/jail.png' }">
          <i class="bi bi-x-circle"></i>
        </div>
      </div>
      <div class="footer">
        {{ findPlayer(4).money | number }} €
      </div>
    </div>
  </div>
</div>