@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace&display=swap');

* {
  box-sizing: border-box;
}

.table {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: seagreen;
  // Si es vol fer gran el taulell amb el zoom, descomentar això
  /* overflow: hidden;
  position: relative; */
}

.players {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 17vw;
  height: 90vh;
  font-family: 'Bruno Ace', cursive;

  .player {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    height: 45%;
    border: 2px solid black;
    background-color: white;

    .header {
      display: flex;
      justify-content: space-around;
      align-items: center;
      width: 100%;
      height: 10%;
      border-bottom: 1px solid black;
      border-collapse: collapse;
    }

    .squares {
      display: flex;
      justify-content: space-around;
      align-items: flex-start;
      padding: 4%;
      flex-wrap: wrap;
      gap: 3%;
      width: 100%;
      height: 80%;

      .property {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 22%;
        height: 17%;
        border: 1px solid black;
        font-size: 1.5vh;

        .bar {
          width: 100%;
          height: 20%;
        }

        .body {
          width: 100%;
          height: 80%;
          display: flex;
          flex-direction: column;
          justify-content: space-around;
          align-items: center;
        }
      }
    }

    .footer {
      display: flex;
      justify-content: space-around;
      align-items: center;
      width: 100%;
      height: 10%;
      border-top: 1px solid black;
    }
  }

  .player1 {
    .header {
      background-color: lightblue;
    }

    .footer {
      background-color: lightblue;
    }
  }

  .player2 {
    .header {
      background-color: lightgreen;
    }

    .footer {
      background-color: lightgreen;
    }
  }

  .player3 {
    .header {
      background-color: tomato;
    }

    .footer {
      background-color: tomato;
    }
  }

  .player4 {
    .header {
      background-color: yellow;
    }

    .footer {
      background-color: yellow;
    }
  }

}

.board {
  // Si es vol fer gran el taulell amb el zoom, descomentar això
  /* position: absolute;
  top: calc(-40vh);
  transform: scale(1.4) rotate(-90deg); */
  position: relative;
  display: grid;
  grid-template-columns: 11.25vh repeat(9, 7.5vh) 11.25vh;
  grid-template-rows: 11.25vh repeat(9, 7.5vh) 11.25vh;
  background-color: white;
  border: 2px solid black;
  grid-template-areas:
    "c c c c c c c c c c d"
    "b o o o o o o o o o d"
    "b o o o o o o o o o d"
    "b o o o o o o o o o d"
    "b o o o o o o o o o d"
    "b o o o o o o o o o d"
    "b o o o o o o o o o d"
    "b o o o o o o o o o d"
    "b o o o o o o o o o d"
    "b o o o o o o o o o d"
    "b a a a a a a a a a a"
}

.center {
  grid-area: o;
  display: grid;
  grid-template-columns: repeat(3, 33%);
  grid-template-rows: repeat(3, 33%);
  justify-content: center;
  align-items: center;
  position: relative;
}

.title {
  grid-area: 2 / 2;
  display: flex;
  justify-content: center;
  font-size: 8vh;
}

.big-square {
  grid-area: 2 / 2;
  width: 25vh;
  height: 37.5vh;
  border: 2px solid black;
  background: white;
  z-index: 1;
}

.deck {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px dashed black;
  min-width: 15vh;
  min-height: 11.25vh;
  align-self: center;
  img {
    width: 60%;
  }
}

.chance-deck {
  grid-area: 3 / 3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-self: flex-end;
  width: 100%;
  height: 100%;
  transform: translate(-25%, -25%) rotate(315deg);

  .deck {
    background-color: #EF843D;
  }
}

.community-deck {
  grid-area: 1 / 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
  transform: translate(25%, 25%) rotate(135deg);

  .deck {
    background-color: #63A6D7;
  }
}

.label {
  text-align: center;
  font-size: 3vh;
  font-weight: 500;
  letter-spacing: 3px;
}

.row {
  display: flex;

  .square:nth-child(1) {
    width: 11.25vh !important;
    height: 11.25vh !important;
  }
}

/*Flex directions are used to give the tiles correct order*/
.row-0 {
  grid-area: a;
  flex-direction: row-reverse;

  .square {
    width: 7.5vh;
    height: 11.25vh;
  }
}

.row-1 {
  grid-area: b;
  flex-direction: column-reverse;
  width: 100%;
  height: 100%;

  .square {
    width: 11.25vh;
    height: 7.5vh;
    position: relative;
    /* height: 11.25vh;
    width: 7.5vh;
    overflow: hidden;
    transform: rotate(90deg); */
  }
}

.row-2 {
  grid-area: c;
  flex-direction: row;

  .square {
    width: 7.5vh;
    height: 11.25vh;
    transform: rotate(180deg);
  }
}

.row-3 {
  grid-area: d;
  flex-direction: column;

  .square {
    width: 11.25vh;
    height: 7.5vh;
  }
}

.tokens {
  position: absolute;
  width: 100%;
  height: 100%;
}

.token {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 2.5vh;
  height: 2.5vh;
  border-radius: 50%;
  border: 1px solid black;
  z-index: 2;
  &.player1 {
    background-color: lightblue;
    bottom: 4vh;
    right: 4vh;
  }
  &.player2 {
    background-color: lightgreen;
    bottom: 4vh;
    right: 1vh;
  }
  &.player3 {
    background-color: tomato;
    bottom: 1vh;
    right: 4vh;
  }
  &.player4 {
    background-color: yellow;
    bottom: 1vh;
    right: 1vh;
  }
}